@{
    ViewData["Title"] = "Unsupervised";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center background-1">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>Unsupervised Analysis</h2>
            <ol>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Unsupervised</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">
        <div class="container">

            <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">
                <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-6 col-md-6 portfolio-item filter-remodeling mb-2">
                        <div class="portfolio-content h-100">
                            <img src="~/img/graphs/clustering.JPG" class="img-fluid" alt="Graph1">
                            <div class="portfolio-info">
                                <!-- If we need text it goes here -->
                            </div>
                        </div>
                    </div>
                    <!-- End Graph Item -->

                    <div class="col-lg-6 col-md-6 portfolio-item filter-remodeling mb-2">
                        <div class="portfolio-content h-100">
                            <img src="~/img/graphs/clustering2.JPG" class="img-fluid" alt="Graph1">
                            <div class="portfolio-info">

                            </div>
                        </div>
                    </div>
                    <!-- End Graph Item -->
                    <div class="col-lg-6 col-md-6 portfolio-item filter-remodeling mb-2">
                        <div class="portfolio-content h-100">
                            <img src="~/img/graphs/randomTrees.JPG" class="img-fluid" alt="Graph1">
                            <div class="portfolio-info">

                            </div>
                        </div>
                    </div>
                    <!-- End Graph Item -->
                    <div class="col-lg-6 col-md-6 portfolio-item filter-remodeling mb-2">
                        <div class="portfolio-content h-100">
                            <img src="~/img/graphs/randomTrees2.JPG" class="img-fluid" alt="Graph1">
                            <div class="portfolio-info">

                            </div>
                        </div>
                    </div>
                    <!-- End Graph Item -->
                </div><!-- End Graph Container -->
            </div>

        </div>
    </section>

</main><!-- End #main -->